
<div class="footer">
    
<div class="row">
    <div class="column-footer">
      <div class="p-footer"><h4>USEFUL LINKS</h4></div>
      <a class="a" href="/assets/pages/projects.html">Projects</a>
      <a class="a" href="/assets/pages/about.html">About</a>
      <a class="a" href="/assets/pages/contact.html">Contact</a>
      <a class="a" href="/assets/pages/newsletter.html">Newsletter</a>
      <a class="a" href="/assets/pages/style.html">Style</a>
    </div>
    <div class="column-footer">
      <div class="p-footer"><h4>YOUTH EXCHANGES WITHOUT BORDER</h4></div>
      <img src="/assets/images/logo.svg" id="logo-footer" alt="Logo">
      <p>YEWB is a charity (NGO) that aims to plan and implement international youth projects.</p>
    </div>
    <div class="column-footer">
      <div class="p-footer"><h4>CONTACT</h4></div>
        <ul class="fa-ul">
          <li><i class="fa-li fa-solid fa-location-dot"></i>Emmenbrücke, Switzerland</li>
          <li><i class="fa-li fa-solid fa-envelope"></i>info.yewb@gmail.com</li>
          <li><i class="fa-li fa-brands fa-facebook"></i>
          <a href="https://www.facebook.com/yewbngo/" target="_blank">Facebook</a></li>
          <li> <i class="fa-li fa-brands fa-youtube"></i>
          <a href="https://www.youtube.com/@youthexchangeswithoutborde2921/" target="_blank">YouTube</a></li>
        </ul>
    </div>
</div>

</div>
