<div class="header" id="myTopnav">
      <div class="nav-side">   
      <a href="/index.html">
        <img src="./logo.svg" id="nav-logo" alt="logo">
          </a>
    </div>
      <ul class="nav-links">
          <li><a href="/assets/pages/projects.html">Ongoing projects 1</a></li>
          <li><a href="/assets/pages/projects2.html">Ongoing projects 2</a></li>
          <li><a href="/assets/pages/about.html">About</a></li>
          <li><a href="/assets/pages/contact.html">Contact</a></li>
          <li><a href="/assets/pages/newsletter.html">Join us</a></li>
          <li><a href="/assets/pages/style.html">Style</a></li>
      </ul>
      <div class="nav-side-icons">
          <div class="nav-icon">
            <a href="#" class="icon"><i class="fas fa-globe"></i></a>           
             </div>
          <div class="nav-icon">
            <a href="javascript:void(0);"style="font-size:15px;" class="icon" onclick="setupThemeToggle()" id="theme-toggle"><i class="fas fa-circle-half-stroke"></i></a>
             </div>
             <div class="nav-icon-burger">
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction2()">&#9776;</a>
          </div>
     </div>
  </div>
