<div class="header" id="myTopnav">
      <div class="nav-side">   
      <a href="./index.html">
        <img class="nav-logo" id="logo-header" src="./assets/images/logo_light.svg" alt="Website Logo" width="70px">
          </a>
    </div>
      <ul class="nav-links">
          <li><a href="./projects.html">Home</a></li>
          <li><a href="./newsletter.html">Ongoing projects</a></li>
      </ul>
      <div class="nav-side-icons">
        <!--   <div class="nav-icon"> -->    
          <!--  <a href="#" class="icon"><i class="fas fa-globe"></i></a>      -->     
           <!--   </div> -->    
           
          <div class="nav-icon">
            <!-- <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="setuptoggleTheme()" id="theme-toggle">Toggle Theme</a> -->
             
           <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunctionDark()" id="theme-toggle"><i class="fas fa-circle-half-stroke"></i></a>  
         
      <!--    <a href="javascript:void(0);" style="font-size:15px;" class="icon" id="theme-toggle">Toggle Theme</a> -->
             </div>
            
             <div class="nav-icon-burger">
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction2()">&#9776;</a>
          </div>
     </div>
  </div>
